body,
#root {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-color);
}

body {
  background: var(--bg-color);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), to(var(--muted-color)));
  background: linear-gradient(180deg, var(--bg-color) 0%, var(--muted-color) 100%);
}

#root {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.app {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin: 0 auto;
}

.app .header {
  position: relative;
}

.app .header .content {
  height: 100svh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  padding: var(--main-content-padding);
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .header .content p {
  line-height: 1.5rem;
  padding-right: 2rem;
}

.app .header .content span {
  color: var(--accent-color);
}

.app .header .content .navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.app .header .content .navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--muted-color);
  letter-spacing: 1px;
  font-weight: 500;
}

.app .header .content .navigation a:hover,
.app .header .content .navigation a.active {
  color: var(--accent-color);
}

.app .header .content .navigation a::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--muted-color);
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.app .header .content .navigation a:hover::before,
.app .header .content .navigation a.active::before {
  width: 70px;
  background-color: var(--accent-color);
}

.app .main .content {
  padding: var(--main-content-padding);
}

.app .main .content #about p {
  line-height: 1.5rem;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin-top: auto;
}

.links a {
  border: none;
  background: none;
}

.links a i {
  color: var(--muted-color);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.links a i:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 950px) {
  .app {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 768px) {
  .app {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .app .header .content {
    height: auto;
  }
}
/*# sourceMappingURL=App.css.map */