@use "sass:color";

:root {
  --main-content-padding: 80px;
  --font: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-family: var(--font);
}

$color: #984f9a;
$bg-color: #161616;
$bg-color-dark: color.scale($bg-color, $lightness: -30%);
$bg-color-muted: color.scale($bg-color, $lightness: 30%);
$h-color: color.scale($color, $lightness: 100%);
$p-color: color.scale($color, $lightness: 100%, $alpha: -40%);
$accent-color: color.scale($color, $lightness: 20%);
$accent-color-50: color.scale($color, $lightness: 20%, $alpha: -50%);
$muted-color: color.scale($color, $lightness: 0%, $alpha: -70%);
$shadow-color: color.scale($color, $lightness: -10%, $alpha: -90%);
$shadow-outline-color: color.scale($color, $lightness: 30%, $alpha: -90%);
$circle-color: color.scale($color, $lightness: -20%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $h-color;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  color: $p-color;
}

a {
  color: $accent-color;
  text-decoration: none;
}

.f-s-12 {
  font-size: 0.75rem;
}

.f-s-14 {
  font-size: 0.875rem;
}

.f-s-16 {
  font-size: 1rem;
}

.f-s-24 {
  font-size: 1.5rem;
}

.f-s-30 {
  font-size: 1.875rem;
}

.f-s-44 {
  font-size: 2.75rem;
}

.f-s-48 {
  font-size: 3rem;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.text-accent {
  color: $accent-color;
}

.text-muted {
  color: $muted-color;
}

.bg-muted {
  color: $bg-color-muted;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

*,
html {
  scroll-behavior: smooth;
}

body,
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: $bg-color;
  background: linear-gradient(180deg, $bg-color 0%, $bg-color-dark 50%);
}

.app {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0 auto;

  .header {
    position: relative;
    z-index: 1000;

    .content {
      height: 100svh;
      position: sticky;
      top: 0;
      right: 0;
      padding: var(--main-content-padding);
      display: flex;
      flex-direction: column;

      > h2 {
        opacity: 0.5;
      }

      p {
        line-height: 1.5rem;
        padding-right: 2rem;
      }

      span {
        color: $accent-color;
      }

      .navigation {
        display: inline-flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 60px;

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          text-decoration: none;
          text-transform: uppercase;
          color: $p-color;
          letter-spacing: 2px;
          font-weight: 500;
          transition: letter-spacing 0.3s ease;
        }

        a:hover,
        a.active-scroll-spy {
          color: $h-color;
          letter-spacing: 3px;
        }

        a::before {
          content: "";
          width: 30px;
          height: 2px;
          background-color: $muted-color;
          display: inline-block;
          transition: width 0.3s ease;
        }

        a:hover::before,
        a.active-scroll-spy::before {
          width: 70px;
          background-color: $accent-color;
        }
      }

      a.btn.download-cv-btn {
        margin-top: auto;
        border: none;
        border-radius: 5px;
        background: none;
        padding: 0.5rem 0.75rem;
        align-self: flex-start;
        font-family: var(--font);
        text-align: start;
        cursor: pointer;
        background-color: $shadow-color;
        transition: 0.2s ease;
        border: 1px solid $shadow-outline-color;

        &:hover {
          background-color: $shadow-outline-color;
        }

        p {
          padding: 0px !important;
          color: $h-color;
          letter-spacing: 0.5px;

          i {
            margin-left: 3px;
          }
        }
      }

      .links {
        display: flex;
        gap: 1.5rem;
        margin-top: 30px;

        a {
          border: none;
          background: none;

          i {
            color: $bg-color-muted;
            transition: 0.2s ease;
          }

          i:hover {
            color: $accent-color;
          }
        }
      }
    }
  }

  .main {
    z-index: 1000;
    > .content {
      padding: var(--main-content-padding);

      > div {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }

      #about {
        padding: 20px;
        p {
          line-height: 1.5rem;
        }
      }

      #experience {
        &:hover .experience-card:not(:hover) {
          opacity: 0.3;
        }

        .experience-card {
          width: 100%;
          display: flex;
          gap: 1rem;
          transition: 0.3s ease;
          padding: 1rem;
          border-radius: 5px;
          margin-bottom: 1rem;
          outline: 1px solid transparent;

          &:hover {
            background-color: $shadow-color;
            border-radius: 10px;
            box-shadow: 0 4px 10px $shadow-color;
            outline: 1px solid $shadow-outline-color;
          }

          .date {
            width: 25%;
            p {
              padding-top: 3px;
            }
          }

          .content {
            width: 75%;
            h3 {
              transition: 0.3s ease;
            }

            a {
              line-height: 1.5rem;
              display: inline-block;
            }

            ul {
              list-style: none;
            }
          }
        }
      }

      #projects {
        scroll-behavior: smooth;
        margin-block: 2rem;
        padding: 1rem;

        > p {
          margin-bottom: 2rem;
        }

        .own-projects {
          &:hover .project:not(:hover) {
            opacity: 0.3;
          }

          .project {
            padding: 1.5rem 1rem;
            border-radius: 5px;
            transition: 0.3s ease;
            box-shadow: 0 4px 10px transparent;
            margin-bottom: 1rem;
            outline: 1px solid transparent;

            &:hover {
              background-color: $shadow-color;
              border-radius: 10px;
              box-shadow: 0 4px 10px $shadow-color;
              outline: 1px solid $shadow-outline-color;
            }

            h3 {
              margin-bottom: 10px;
            }

            .description {
              margin-bottom: 20px;
            }

            .stack {
              gap: 10px;

              .stack-chip {
                font-size: 12px;
                padding: 0.3rem 0.75rem;
                border: 1px solid $shadow-outline-color;
                color: $accent-color-50;
                margin-right: 10px;
                border-radius: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .app {
    grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --main-content-padding: 30px;
  }

  .m-b-60 {
    margin-bottom: 30px;
  }

  .f-s-30 {
    font-size: 1.5rem;
  }

  .app {
    grid-template-columns: 100%;

    .header {
      .content {
        height: auto;

        .navigation {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          background-color: $bg-color;
          margin-bottom: 0px;
          padding: 2rem;
          border-top: 1px solid $muted-color;

          a {
            display: inline;
            text-align: center;
          }

          a::before {
            display: none;
          }
        }
      }
    }

    .main {
      z-index: 1;
      > .content {
        padding: 10px;
        padding-bottom: 4rem;

        > div {
          gap: 1.5rem;
        }

        #experience {
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1150px), screen and (max-width: 500px) {
  .app .main > .content #experience .experience-card {
    flex-wrap: wrap;

    > .content,
    > .date {
      width: 100%;
    }
  }
}
