body,
#root {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-color);
}

body {
  background: var(--bg-color);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), to(var(--muted-color)));
  background: linear-gradient(180deg, var(--bg-color) 0%, var(--muted-color) 100%);
}

.app {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  margin: 0 auto;
}

.app .header {
  position: relative;
}

.app .header .content {
  height: 100svh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  padding: var(--main-content-padding);
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .header .content p {
  line-height: 1.5rem;
  padding-right: 2rem;
}

.app .header .content span {
  color: var(--accent-color);
}

.app .header .content .navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 60px;
}

.app .header .content .navigation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--muted-color);
  letter-spacing: 1px;
  font-weight: 500;
}

.app .header .content .navigation a:hover,
.app .header .content .navigation a.active {
  color: var(--accent-color);
}

.app .header .content .navigation a::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--muted-color);
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.app .header .content .navigation a:hover::before,
.app .header .content .navigation a.active::before {
  width: 70px;
  background-color: var(--accent-color);
}

.app .main > .content {
  padding: var(--main-content-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.app .main > .content #about {
  padding: 20px;
}

.app .main > .content #about p {
  line-height: 1.5rem;
}

.app .main > .content #experience:hover .experience-card:not(:hover) {
  opacity: 0.3;
}

.app .main > .content #experience .experience-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  outline: 1px solid transparent;
}

.app .main > .content #experience .experience-card:hover {
  background-color: var(--muted-color-10);
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px var(--accent-color-20);
          box-shadow: 0 4px 10px var(--accent-color-20);
  outline: 1px solid var(--muted-color-50);
}

.app .main > .content #experience .experience-card .date {
  width: 25%;
}

.app .main > .content #experience .experience-card .date p {
  padding-top: 3px;
}

.app .main > .content #experience .experience-card .content {
  width: 75%;
}

.app .main > .content #experience .experience-card .content h3 {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.app .main > .content #experience .experience-card .content p {
  line-height: 1.5rem;
}

.app .main > .content #experience .experience-card .content ul {
  list-style: none;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin-top: auto;
}

.links a {
  border: none;
  background: none;
}

.links a i {
  color: var(--muted-color);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.links a i:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 800px) {
  .app {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .app .header .content {
    height: auto;
  }
  .app .header .content .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--bg-color);
    margin-bottom: 0px;
    padding: 2rem;
  }
  .app .header .content .navigation a {
    display: inline;
    text-align: center;
  }
  .app .header .content .navigation a::before {
    display: none;
  }
  .app .main .content {
    padding: 10px;
  }
  .app .main .content #experience {
    padding: 10px;
  }
}
/*# sourceMappingURL=App.css.map */