* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #711db0;
  --gradient-color: #38035f;
  --accent-color: #c21292;
  --accent-color-10: #c2129210;
  --accent-color-20: #c2129220;
  --accent-color-50: #c2129250;
  --h-color: #ffa732;
  --muted-color: #633387;
  --muted-color-10: #69289a10;
  --muted-color-50: #69289a50;
  --p-color: #b36fe7;
  --overlay-opacity: 0.8;

  --main-content-padding: 80px;

  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  color: var(--p-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

.f-s-12 {
  font-size: 0.75rem;
}

.f-s-14 {
  font-size: 0.875rem;
}

.f-s-16 {
  font-size: 1rem;
}

.f-s-24 {
  font-size: 1.5rem;
}

.f-s-30 {
  font-size: 1.875rem;
}

.f-s-44 {
  font-size: 2.75rem;
}

.f-s-48 {
  font-size: 3rem;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.text-accent {
  color: var(--accent-color);
}

.text-muted {
  color: var(--muted-color);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  :root {
    --main-content-padding: 30px;
  }
}
