* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* SUNSET */
  --bg-color: #711db0;
  --accent-color: #c21292;
  --h-color: #ffa732;
  --muted-color: #633387;

  /* DUNK */
  /*   --bg-color: #9a3b3b;
  --accent-color: #f2ecbe;
  --h-color: #e2c799;
  --muted-color: #8e4e4e; */

  --main-content-padding: 100px;

  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  color: var(--muted-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

.f-s-48 {
  font-size: 3rem;
}

.f-s-24 {
  font-size: 1.5rem;
}

.f-s-30 {
  font-size: 1.875rem;
}

.f-w-400 {
  font-weight: 400;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.text-accent {
  color: var(--accent-color);
}
